:root {
  --radius: 50;
  --PI: 3.14159265358979;
  --circumference: calc(var(--PI) * var(--radius) * 2px);
}

.spinner {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
}

.is-spinner-hidden {
  display: none;
}
.circle-svg circle {
  stroke: #ccc;
  stroke-width: 4;
  fill: transparent;
  transform-origin: center;
  stroke-dasharray: var(--circumference);
  animation: spinner 2s ease-out infinite;
}

@keyframes spinner {
  from {
    stroke-dashoffset: var(--circumference);
    stroke: #ccc;
    transform: rotateZ(0deg);
  }
  to {
    stroke-dashoffset: calc(var(--circumference) * -1);
    stroke: #189729;
    transform: rotateZ(720deg);
  }
}
